html,
body {
    height: 100vh;
    width: 100%;
    background: #eee;
}

* {
    box-sizing: border-box;
}

header {
    background-image: url(coffee.jpg);
    color: white;
    height: 125px;
    width: 100%;

    text-align: center;
    padding: 5px;
}

header h1 {

    padding: 20px;
    font-size: 84px;
    font-family: 'Amatic SC';
    font-weight: 500;
}


.wrapper {
    background-color: saddlebrown;
    height: 85vh;
}

#cityInputCon {
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
}

#cityName {
    /*  margin-top: px;*/
    margin-bottom: 25px;
    width: 200px;
    height: 30px;
}

#names {
    font: arial-black;
    background-color: white;
    width: 100%;
    height: 445px;
    overflow: auto;
}

h2 {
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
    font-family: lora;
}

.mainWrapper {

    margin-top: 40px;
    height: 70vh;
    width: 100%;
    box-sizing: border-box;
}




#map {
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

.shopInfo {
    font-size: 12px;
    font-family: lora;
    -webkit-box-shadow: 10px 10px 5px 2px dimgrey;
    box-shadow: 10px 10px 5px 2px dimgrey;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.shopName {
    font-weight: bold;
}