

html, body{
  height: 100%;
  width : 100%;
  background: #eee;
  
}

header{
    height: 70px;
    width: 100%;
    font-size: 48px;
    text-align: center;
    padding: 5px;
}

.wrapper{
  background-color: saddlebrown;
  height: 100vh;
}


#cityInputCon{

  height: 50px;
  width:  100%;
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
}

#cityName{
/*  margin-top: px;*/
  margin-bottom: 25px;
  width: 200px;
  height: 30px;


}

#names{

  font: arial-black;
  width: 100%;
 
  overflow: auto;
}

h2{
  text-align: center;
  margin: 0 auto;
  text-decoration: underline;
  font-family: lora;
}

#map {
     width: 90%;
     height: 500px;
     margin: 0 auto;

}

.shopInfo {
  font-size: 12px;
  font-family: lora;
  box-shadow: 10px 10px 5px 2px dimgrey;
  padding: 5px;
  margin-bottom: 5px;
 
  margin-right: 5px;

}

.shopName{
  font-weight: bold;
}
